.custom-navbar {
    height: 100px; /* 헤더의 세로 길이 조정 */
    background-color: #5E80B1; /* 헤더 색상 변경 */
}

.custom-logo {
    font-size: 1.9rem; /* 글씨 크기 */
    font-weight: bold; /* bold 적용 */
    margin-right: auto; /* 왼쪽 끝으로 이동 */
    margin-left: 60px; /* 로고 왼쪽에 여백 추가 */
    color: white; /* 로고 글씨 색상 변경 */
}

.navbar-nav {
    margin-left: auto; /* 메뉴들을 회원가입 왼쪽으로 이동 */
}

.nav-link {
    margin-right: 15px; /* 메뉴들 간의 간격 조정 */
    color: white !important; /* 메뉴들 글씨 색상 흰색으로 변경 */
}

.custom-login-btn {
    margin-right: 30px; /* 로그인 버튼 오른쪽에 여백 추가 */
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    background-color: #CED7E4; /* 드롭다운 메뉴 배경색 변경 */
}

.dropdown-item {
    color: white !important; /* 드롭다운 항목 글씨 색상 흰색으로 변경 */
}

.dropdown-item:hover {
    background-color: #5E80B1; /* 드롭다운 항목 hover 시 배경색 설정 */
}

/* MyPage와 회원가입 사이에 구분선 및 오른쪽 여백 추가 */
.nav-item.mypage {
    border-right: 1px solid white; /* 구분선을 흰색으로 설정 */
    padding-right: 10px; /* 구분선과 텍스트 간 여백 */
    margin-right: 25px; /* 구분선 오른쪽 여백 */
}