/* custom-modal.css */
.custom-modal .modal-dialog {
    max-width: 700px; /* 모달의 최대 넓이를 600px로 설정 */
    width: 90%; /* 너비를 90%로 설정 */
}

.custom-modal .modal-body {
    font-size: 1.8rem; /* 텍스트 크기 */
    padding: 3rem; /* 패딩 설정 */
}
