/* custom-modal.css */
.modal-dialog.custom-modal {
    max-width: 750px !important; /* 원하는 최대 너비 */
    width: 100%; /* 부모의 100% */
}

.custom-modal .modal-body {
    font-size: 1.8rem; /* 텍스트 크기 */
    padding: 3rem; /* 패딩 설정 */
}
