/* 페이지 배경색 */
body {
    background-color: #B4C2D7;
}

/* 제목 스타일 */
.spot-detail-title {
    font-size: 2.5rem;
    font-weight: bold;
}

/* 이미지 크기 및 둥근 모서리 설정 */
.spot-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Carousel 중앙 정렬 */
.carousel-center {
    max-width: 800px; /* 너비를 적절히 제한 */
    margin: 0 auto; /* 중앙 정렬 */
}

/* 상세 정보 섹션 */
.spot-info-section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 별점 아이콘 스타일 */
.text-warning {
    font-size: 1.5rem;
}
.text-secondary {
    font-size: 1.5rem;
}